*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

:root {
    --dark-green: #324D3E;
    --lightest-green: #D9E5D8;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.2rem;
    background-color: var(--dark-green);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}


#header {
    width: auto;
    padding: 1.5rem 5rem;
    background-color: var(--dark-green);
    border-bottom: 1px solid var(--lightest-green);    
    h2 {
        margin-right: auto;
        color: white;
    }

    nav {
        gap: 2rem;
    }

    button {
        border-radius: 5px;
        padding: .5em 2em;
        background-color: #BECFBC;
        color: var(--dark-green);
        cursor: pointer;
    }
}